.ms-col {
  height: 400px;
  color: #000;
  border-style: solid;
  border-color: rgba(0,0,0,0.3);
  border-width:thin;
}
.manuscript{
  overflow: scroll;
  max-height:360px;
}
.ms-title{
  line-height: 30px;
  padding:0px;
  margin-bottom:0px;
}
.navbar {
  border:none;
}
.site-header {
  border-right:none;
  border-left:none;
  border-top:none;
}
header#masthead {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
#page-title{
  margin-top:30px;
}
.dropdown-menu.show {
  padding-left: 10px;
}
.ms-row {
  margin-top: 25px;
}
.toggle {
  margin-left:5px;
  color: #000;
  font-size: 0.765625rem;
  font-weight: 600;
  text-transform: uppercase;
}
tei-choice > tei-abbr {
  display:none;
}
tei-choice > tei-expan:before{
  content:none !important;
}
tei-choice > tei-expan:after{
  content:none !important;
}
.page-break {
  color:grey;
  display:none;
}

tei-cb::before {
  content: none !important;
}
